.form-control-myaccount{
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #73787c;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 25px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline-offset: 1px;
}
.form-control-myaccount:focus{
    
    outline-offset:2px;
    outline: #0c9bf4;
}
.heading-my{
    font-size: 35px;
    color: #73787c;
    font-family: 'hanimation';
}
.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
.btn-myacc{
    
    margin-bottom: 9px;
    text-decoration: none;
    width: 200px;
    height: 42;
    background-color: #71ceea;
    border: 1px solid  #e6d4d4;
    border-radius: 20px;
    opacity: 5px;
    color: #ffffff;
    font-size: 20px;
    padding: 2px 4px;
    font-weight: bold;
    font-family: 'hanimation';
    transition: 400ms;
}
.btn-myacc:hover{
    background-color: #00a8dc;
}