.container-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  .sign-up{
    
    font-family: 'hanimation';
    border: none;
    padding: 40px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .logo-image {
    width: 150px;
    max-width: 100%; 
    margin-top: -50px;
  }
  
  
  .signup-title {
    font-family: 'hanimation';
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    color: #867e7e;
  }
  .form-input-signup {
    font-family: 'hanimation';
    background-color:inherit;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
      border-radius: 0;
      border-bottom: 3px solid #71Ceea;
    box-sizing: border-box;
    transition: 550ms;
    }
    .form-input-signup:hover{
        border-bottom: 3px solid #025bf5;
      }
      .form-input-signup:focus{
        outline: none;
        border-bottom: 3px solid #02bcf5;
      }
  
    .signup-button {
      width: 100%;
      padding: 10px;
      background-color: #71ceea;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: 550ms;
    }
    .signup-button:hover{
background-color: #025bf5;
    }


  .form-input-label {
      color:#728084;
      font-size: 16px;
      font-weight: normal;
      pointer-events: none;
      transition: 300ms ease all;
    }
    .span-color{
      color: #71Ceea;
    
      
    }